HELP.md

# ===============================

# Maven

# ===============================

target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ===============================

# Build artifacts (NOT allowed)

# ===============================

*.jar
*.war
*.ear

# ===============================

# Logs

# ===============================

*.log
logs/

# ===============================

# OS Files

# ===============================

.DS_Store
Thumbs.db

# ===============================

# Temp Files

# ===============================

*.tmp
*.swp

# ===============================

# Environment

# ===============================

.env

# ===============================

# Test Reports

# ===============================

target/surefire-reports/
target/failsafe-reports/

# ===============================

# STS

# ===============================

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===============================

# IntelliJ IDEA

# ===============================

.idea
*.iws
*.iml
*.ipr

# ===============================

# NetBeans

# ===============================

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ===============================

# VS Code

# ===============================

.vscode/
